<a href="https://colab.research.google.com/github/taylor-coleman/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_3_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# Importing pandas
import pandas as pd

In [11]:
# Loading in data cleaning it along with printing the head and shape
df_credit = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data", header=None, na_values="?")
print(df_credit.shape)
df_credit.head(20)

(690, 16)

   0      1       2  3  4   5  6      7  8  9   10 11 12     13     14 15
0   b  30.83   0.000  u  g   w  v  1.250  t  t   1  f  g  202.0      0  +
1   a  58.67   4.460  u  g   q  h  3.040  t  t   6  f  g   43.0    560  +
2   a  24.50   0.500  u  g   q  h  1.500  t  f   0  f  g  280.0    824  +
3   b  27.83   1.540  u  g   w  v  3.750  t  t   5  t  g  100.0      3  +
4   b  20.17   5.625  u  g   w  v  1.710  t  f   0  f  s  120.0      0  +
5   b  32.08   4.000  u  g   m  v  2.500  t  f   0  t  g  360.0      0  +
6   b  33.17   1.040  u  g   r  h  6.500  t  f   0  t  g  164.0  31285  +
7   a  22.92  11.585  u  g  cc  v  0.040  t  f   0  f  g   80.0   1349  +
8   b  54.42   0.500  y  p   k  h  3.960  t  f   0  f  g  180.0    314  +
9   b  42.50   4.915  y  p   w  v  3.165  t  f   0  t  g   52.0   1442  +
10  b  22.08   0.830  u  g   c  h  2.165  f  f   0  t  g  128.0      0  +
11  b  29.92   1.835  u  g   c  h  4.335  t  f   0  f  g  260.0    200  +
12  a  38.25   6.000  u  g   k  v  1.000  t  f   0  t  g    0.0      0  +
13  b  48.08   6.040  u  g   k  v  0.040  f  f   0  f  g    0.0   2690  +
14  a  45.83  10.500  u  g   q  v  5.000  t  t   7  t  g    0.0      0  +
15  b  36.67   4.415  y  p   k  v  0.250  t  t  10  t  g  320.0      0  +
16  b  28.25   0.875  u  g   m  v  0.960  t  t   3  t  g  396.0      0  +
17  a  23.25   5.875  u  g   q  v  3.170  t  t  10  f  g  120.0    245  +
18  b  21.83   0.250  u  g   d  h  0.665  t  f   0  t  g    0.0      0  +
19  a  19.17   8.585  u  g  cc  h  0.750  t  t   7  f  g   96.0      0  +

In [12]:
# Looking at nan values
df_credit.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [16]:
# Dropping the nan values
df = df_credit.dropna()
df.isna().sum()
df.shape

(653, 16)

In [15]:
# Looking at each attribute data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 689
Data columns (total 16 columns):
0     653 non-null object
1     653 non-null float64
2     653 non-null float64
3     653 non-null object
4     653 non-null object
5     653 non-null object
6     653 non-null object
7     653 non-null float64
8     653 non-null object
9     653 non-null object
10    653 non-null int64
11    653 non-null object
12    653 non-null object
13    653 non-null float64
14    653 non-null int64
15    653 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.7+ KB

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
# TODO

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*