# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [2]:
# TODO
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
df = pd.read_csv(url, header=None, 
                names=['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9',
                    'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16'])

print(df.shape)
df.head(200)

(690, 16)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,00120,0,+
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,00360,0,+
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,00164,31285,+
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,00080,1349,+
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,00180,314,+
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,00052,1442,+
10,b,22.08,0.830,u,g,c,h,2.165,f,f,0,t,g,00128,0,+
11,b,29.92,1.835,u,g,c,h,4.335,t,f,0,f,g,00260,200,+
12,a,38.25,6.000,u,g,k,v,1.000,t,f,0,t,g,00000,0,+
13,b,48.08,6.040,u,g,k,v,0.040,f,f,0,f,g,00000,2690,+
14,a,45.83,10.500,u,g,q,v,5.000,t,t,7,t,g,00000,0,+
15,b,36.67,4.415,y,p,k,v,0.250,t,t,10,t,g,00320,0,+
16,b,28.25,0.875,u,g,m,v,0.960,t,t,3,t,g,00396,0,+
17,a,23.25,5.875,u,g,q,v,3.170,t,t,10,f,g,00120,245,+
18,b,21.83,0.250,u,g,d,h,0.665,t,f,0,t,g,00000,0,+
19,a,19.17,8.585,u,g,cc,h,0.750,t,t,7,f,g,00096,0,+
20,b,25.00,11.250,u,g,c,v,2.500,t,t,17,f,g,00200,1208,+
21,b,23.25,1.000,u,g,c,v,0.835,t,f,0,f,s,00300,0,+
22,a,47.75,8.000,u,g,c,v,7.875,t,t,6,t,g,00000,1260,+
23,a,27.42,14.500,u,g,x,h,3.085,t,t,1,f,g,00120,11,+
24,a,41.17,6.500,u,g,q,v,0.500,t,t,3,t,g,00145,0,+
25,a,15.83,0.585,u,g,c,h,1.500,t,t,2,f,g,00100,0,+
26,a,47.00,13.000,u,g,i,bb,5.165,t,t,9,t,g,00000,0,+
27,b,56.58,18.500,u,g,d,bb,15.000,t,t,17,t,g,00000,0,+
28,b,57.42,8.500,u,g,e,h,7.000,t,t,3,f,g,00000,0,+
29,b,42.08,1.040,u,g,w,v,5.000,t,t,6,t,g,00500,10000,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,a,25.08,2.540,y,p,aa,v,0.250,t,f,0,t,g,00370,0,+
171,b,41.33,0.000,u,g,c,bb,15.000,t,f,0,f,g,00000,0,+
172,b,56.00,12.500,u,g,k,h,8.000,t,f,0,t,g,00024,2028,+
173,a,49.83,13.585,u,g,k,h,8.500,t,f,0,t,g,00000,0,+
174,b,22.67,10.500,u,g,q,h,1.335,t,f,0,f,g,00100,0,+
175,b,27.00,1.500,y,p,w,v,0.375,t,f,0,t,g,00260,1065,+
176,b,25.00,12.500,u,g,aa,v,3.000,t,f,0,t,s,00020,0,+
177,a,26.08,8.665,u,g,aa,v,1.415,t,f,0,f,g,00160,150,+
178,a,18.42,9.250,u,g,q,v,1.210,t,t,4,f,g,00060,540,+
179,b,20.17,8.170,u,g,aa,v,1.960,t,t,14,f,g,00060,158,+
180,b,47.67,0.290,u,g,c,bb,15.000,t,t,20,f,g,00000,15000,+
181,a,21.25,2.335,u,g,i,bb,0.500,t,t,4,f,s,00080,0,+
182,a,20.67,3.000,u,g,q,v,0.165,t,t,3,f,g,00100,6,+
183,a,57.08,19.500,u,g,c,v,5.500,t,t,7,f,g,00000,3000,+
184,a,22.42,5.665,u,g,q,v,2.585,t,t,7,f,g,00129,3257,+
185,b,48.75,8.500,u,g,c,h,12.500,t,t,9,f,g,00181,1655,+
186,b,40.00,6.500,u,g,aa,bb,3.500,t,t,1,f,g,00000,500,+
187,b,40.58,5.000,u,g,c,v,5.000,t,t,7,f,g,00000,3065,+
188,a,28.67,1.040,u,g,c,v,2.500,t,t,5,t,g,00300,1430,+
189,a,33.08,4.625,u,g,q,h,1.625,t,t,2,f,g,00000,0,+
190,b,21.33,10.500,u,g,c,v,3.000,t,f,0,t,g,00000,0,+
191,b,42.00,0.205,u,g,i,h,5.125,t,f,0,f,g,00400,0,+
192,b,41.75,0.960,u,g,x,v,2.500,t,f,0,f,g,00510,600,+
193,b,22.67,1.585,y,p,w,v,3.085,t,t,6,f,g,00080,0,+
194,b,34.50,4.040,y,p,i,bb,8.500,t,t,7,t,g,00195,0,+
195,b,28.25,5.040,y,p,c,bb,1.500,t,t,8,t,g,00144,7,+
196,b,33.17,3.165,y,p,x,v,3.165,t,t,3,t,g,00380,0,+
197,b,48.17,7.625,u,g,w,h,15.500,t,t,12,f,g,00000,790,+
198,b,27.58,2.040,y,p,aa,v,2.000,t,t,3,t,g,00370,560,+
199,b,22.58,10.040,u,g,x,v,0.040,t,t,9,f,g,00060,396,+

In [43]:
df.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [44]:
df.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [45]:
df['A1'].unique()

array(['b', 'a', '?'], dtype=object)

In [46]:
"""url2 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data/crx.names'
thing = pd.read_csv(url2)
print(thing)"""

"url2 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data/crx.names'\nthing = pd.read_csv(url2)\nprint(thing)"

In [48]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
df = pd.read_csv(url, header=None, 
                names=['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9',
                    'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16'], na_values='?')

print(df.shape)
df.head(200)

(690, 16)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,202.0,0,+
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,43.0,560,+
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,280.0,824,+
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,100.0,3,+
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,120.0,0,+
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,360.0,0,+
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,164.0,31285,+
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,80.0,1349,+
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,180.0,314,+
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,52.0,1442,+
10,b,22.08,0.830,u,g,c,h,2.165,f,f,0,t,g,128.0,0,+
11,b,29.92,1.835,u,g,c,h,4.335,t,f,0,f,g,260.0,200,+
12,a,38.25,6.000,u,g,k,v,1.000,t,f,0,t,g,0.0,0,+
13,b,48.08,6.040,u,g,k,v,0.040,f,f,0,f,g,0.0,2690,+
14,a,45.83,10.500,u,g,q,v,5.000,t,t,7,t,g,0.0,0,+
15,b,36.67,4.415,y,p,k,v,0.250,t,t,10,t,g,320.0,0,+
16,b,28.25,0.875,u,g,m,v,0.960,t,t,3,t,g,396.0,0,+
17,a,23.25,5.875,u,g,q,v,3.170,t,t,10,f,g,120.0,245,+
18,b,21.83,0.250,u,g,d,h,0.665,t,f,0,t,g,0.0,0,+
19,a,19.17,8.585,u,g,cc,h,0.750,t,t,7,f,g,96.0,0,+
20,b,25.00,11.250,u,g,c,v,2.500,t,t,17,f,g,200.0,1208,+
21,b,23.25,1.000,u,g,c,v,0.835,t,f,0,f,s,300.0,0,+
22,a,47.75,8.000,u,g,c,v,7.875,t,t,6,t,g,0.0,1260,+
23,a,27.42,14.500,u,g,x,h,3.085,t,t,1,f,g,120.0,11,+
24,a,41.17,6.500,u,g,q,v,0.500,t,t,3,t,g,145.0,0,+
25,a,15.83,0.585,u,g,c,h,1.500,t,t,2,f,g,100.0,0,+
26,a,47.00,13.000,u,g,i,bb,5.165,t,t,9,t,g,0.0,0,+
27,b,56.58,18.500,u,g,d,bb,15.000,t,t,17,t,g,0.0,0,+
28,b,57.42,8.500,u,g,e,h,7.000,t,t,3,f,g,0.0,0,+
29,b,42.08,1.040,u,g,w,v,5.000,t,t,6,t,g,500.0,10000,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,a,25.08,2.540,y,p,aa,v,0.250,t,f,0,t,g,370.0,0,+
171,b,41.33,0.000,u,g,c,bb,15.000,t,f,0,f,g,0.0,0,+
172,b,56.00,12.500,u,g,k,h,8.000,t,f,0,t,g,24.0,2028,+
173,a,49.83,13.585,u,g,k,h,8.500,t,f,0,t,g,0.0,0,+
174,b,22.67,10.500,u,g,q,h,1.335,t,f,0,f,g,100.0,0,+
175,b,27.00,1.500,y,p,w,v,0.375,t,f,0,t,g,260.0,1065,+
176,b,25.00,12.500,u,g,aa,v,3.000,t,f,0,t,s,20.0,0,+
177,a,26.08,8.665,u,g,aa,v,1.415,t,f,0,f,g,160.0,150,+
178,a,18.42,9.250,u,g,q,v,1.210,t,t,4,f,g,60.0,540,+
179,b,20.17,8.170,u,g,aa,v,1.960,t,t,14,f,g,60.0,158,+
180,b,47.67,0.290,u,g,c,bb,15.000,t,t,20,f,g,0.0,15000,+
181,a,21.25,2.335,u,g,i,bb,0.500,t,t,4,f,s,80.0,0,+
182,a,20.67,3.000,u,g,q,v,0.165,t,t,3,f,g,100.0,6,+
183,a,57.08,19.500,u,g,c,v,5.500,t,t,7,f,g,0.0,3000,+
184,a,22.42,5.665,u,g,q,v,2.585,t,t,7,f,g,129.0,3257,+
185,b,48.75,8.500,u,g,c,h,12.500,t,t,9,f,g,181.0,1655,+
186,b,40.00,6.500,u,g,aa,bb,3.500,t,t,1,f,g,0.0,500,+
187,b,40.58,5.000,u,g,c,v,5.000,t,t,7,f,g,0.0,3065,+
188,a,28.67,1.040,u,g,c,v,2.500,t,t,5,t,g,300.0,1430,+
189,a,33.08,4.625,u,g,q,h,1.625,t,t,2,f,g,0.0,0,+
190,b,21.33,10.500,u,g,c,v,3.000,t,f,0,t,g,0.0,0,+
191,b,42.00,0.205,u,g,i,h,5.125,t,f,0,f,g,400.0,0,+
192,b,41.75,0.960,u,g,x,v,2.500,t,f,0,f,g,510.0,600,+
193,b,22.67,1.585,y,p,w,v,3.085,t,t,6,f,g,80.0,0,+
194,b,34.50,4.040,y,p,i,bb,8.500,t,t,7,t,g,195.0,0,+
195,b,28.25,5.040,y,p,c,bb,1.500,t,t,8,t,g,144.0,7,+
196,b,33.17,3.165,y,p,x,v,3.165,t,t,3,t,g,380.0,0,+
197,b,48.17,7.625,u,g,w,h,15.500,t,t,12,f,g,0.0,790,+
198,b,27.58,2.040,y,p,aa,v,2.000,t,t,3,t,g,370.0,560,+
199,b,22.58,10.040,u,g,x,v,0.040,t,t,9,f,g,60.0,396,+

In [49]:
df.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [50]:
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [51]:
df.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14    float64
A15      int64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [60]:
df.corr()

           A2        A3        A8       A11       A14       A15
A2   1.000000  0.202317  0.395751  0.185912 -0.079812  0.018553
A3   0.202317  1.000000  0.298902  0.271207 -0.224242  0.123121
A8   0.395751  0.298902  1.000000  0.322330 -0.077163  0.051345
A11  0.185912  0.271207  0.322330  1.000000 -0.120096  0.063692
A14 -0.079812 -0.224242 -0.077163 -0.120096  1.000000  0.066853
A15  0.018553  0.123121  0.051345  0.063692  0.066853  1.000000

In [53]:
# TODO
#Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression
#of the distributions and relationships of the variables. In general, your goal is to understand how the features
#are different when grouped by the two class labels (+ and -).

A16pos = df[df.A16 == '+']
print(A16pos.shape)
A16pos.head()

(307, 16)

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [54]:
A16neg = df[df.A16 == '-']
print(A16neg.shape)
A16neg.head()

(383, 16)

   A1     A2   A3 A4 A5  A6  A7      A8 A9 A10  A11 A12 A13    A14  A15 A16
70  b  32.33  7.5  u  g   e  bb   1.585  t   f    0   t   s  420.0    0   -
71  b  34.83  4.0  u  g   d  bb  12.500  t   f    0   t   g    NaN    0   -
72  a  38.58  5.0  u  g  cc   v  13.500  t   f    0   t   g  980.0    0   -
73  b  44.25  0.5  u  g   m   v  10.750  t   f    0   f   s  400.0    0   -
74  b  44.83  7.0  y  p   c   v   1.625  f   f    0   f   g  160.0    2   -

In [55]:
#stats.ttest_1samp(dem['handicapped-infants'], 0, nan_policy='omit')

In [57]:
from scipy import stats

In [61]:
A16pos = A16pos.replace({'a':1, 'b':0})
A16neg = A16neg.replace({'a':1, 'b':0})

In [63]:
print(A16pos.head())
print(A16neg.head())

    A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  0.0  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  1.0  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  1.0  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  0.0  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  0.0  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +
     A1     A2   A3 A4 A5  A6  A7      A8 A9 A10  A11 A12 A13    A14  A15 A16
70  0.0  32.33  7.5  u  g   e  bb   1.585  t   f    0   t   s  420.0    0   -
71  0.0  34.83  4.0  u  g   d  bb  12.500  t   f    0   t   g    NaN    0   -
72  1.0  38.58  5.0  u  g  cc   v  13.500  t   f    0   t   g  980.0    0   -
73  0.0  44.25  0.5  u  g   m   v  10.750  t   f    0   f   s  400.0    0   -
74  0.0  44.83  7.0  y  p   c   v   1.625  f   f    0   f   g  160.0    2   -

In [65]:
print(A16pos.isnull().sum())
print(A16neg.isnull().sum())

A1     3
A2     2
A3     0
A4     4
A5     4
A6     4
A7     4
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    6
A15    0
A16    0
dtype: int64
A1      9
A2     10
A3      0
A4      2
A5      2
A6      5
A7      5
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14     7
A15     0
A16     0
dtype: int64

In [76]:
stats.ttest_1samp(A16pos['A1'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=-6.6155876234636182, pvalue=1.6748709079356001e-10)

First t-test suggests that the column A1 (a/b) is not an even split across A16pos and, according to the statistic, might suggest a slight left skewness associated with this feature.

In [77]:
stats.ttest_1samp(A16pos['A1'], 0, nan_policy='omit')

Ttest_1sampResult(statistic=12.006066427767308, pvalue=1.9919413322001279e-27)

Second t-test rejects the hypothesis that the instances feature A1 occuring in A16pos have a mean of 0.

In [79]:
stats.ttest_1samp(A16neg['A1'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=-8.4558257004854465, pvalue=6.3410621146711844e-16)

In [81]:
stats.ttest_1samp(A16pos['A1'], 0, nan_policy='omit')

Ttest_1sampResult(statistic=12.006066427767308, pvalue=1.9919413322001279e-27)

In [83]:
df.head() #making sure my A1 column is still the same as when I imported

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [89]:
contingency_table = pd.crosstab(df['A16'], df['A1'])
contingency_table

A1     a    b
A16
+     98  206
-    112  262

In [90]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 0.31128326491619945
P-value: 0.5768937883001117
Degrees of Freedom: 1
Expected:
 [[  94.15929204  209.84070796]
 [ 115.84070796  258.15929204]]

In [91]:
p_value = stats.chi2.sf(chi_squared, dof)
print(f"P-value: {p_value}")

P-value: 0.5768937883001117

We accept the null hypothesis that A1 and A16 are independent

In [115]:
contingency_table2 = pd.crosstab(
    df['A16'],
    df['A7'],
    margins = True)

contingency_table2

A7   bb  dd  ff    h  j  n  o    v  z  All
A16
+    25   2   8   87  3  2  1  169  6  303
-    34   4  49   51  5  2  1  230  2  378
All  59   6  57  138  8  4  2  399  8  681

In [94]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table2)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 45.03420714024056
P-value: 0.0004097261730223732
Degrees of Freedom: 18
Expected:
 [[  26.25110132    2.66960352   25.36123348   61.40088106    3.55947137
     1.77973568    0.88986784  177.52863436    3.55947137  303.        ]
 [  32.74889868    3.33039648   31.63876652   76.59911894    4.44052863
     2.22026432    1.11013216  221.47136564    4.44052863  378.        ]
 [  59.            6.           57.          138.            8.            4.
     2.          399.            8.          681.        ]]

#### We reject the null hypothesis that A7 and A16 are independent

In [97]:
df.describe()

,A2,A3,A8,A11,A14,A15
count,678.000000,690.000000,690.000000,690.00000,677.000000,690.000000
mean,31.568171,4.758725,2.223406,2.40000,184.014771,1017.385507
std,11.957862,4.978163,3.346513,4.86294,173.806768,5210.102598
min,13.750000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,22.602500,1.000000,0.165000,0.00000,75.000000,0.000000
50%,28.460000,2.750000,1.000000,0.00000,160.000000,5.000000
75%,38.230000,7.207500,2.625000,3.00000,276.000000,395.500000
max,80.250000,28.000000,28.500000,67.00000,2000.000000,100000.000000

In [99]:
df.describe(exclude='number')

         A1   A4   A5   A6   A7   A9  A10  A12  A13  A16
count   678  684  684  681  681  690  690  690  690  690
unique    2    3    3   14    9    2    2    2    3    2
top       b    u    g    c    v    t    f    f    g    -
freq    468  519  519  137  399  361  395  374  625  383

In [123]:
cut_points = [0,15000,30000,50000,70000,110000]
label_names = ['0-15k', '15-30k', '30-50k', '50-70k', '70k+']
df['A15_categories'] = pd.cut(df['A15'], cut_points, labels=label_names)

df.head(10)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A2_categories,A15_categories
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,202.0,0,+,30-40,NaN
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,43.0,560,+,50-85,0-15k
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,280.0,824,+,18-30,0-15k
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,100.0,3,+,18-30,0-15k
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,120.0,0,+,18-30,NaN
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,360.0,0,+,30-40,NaN
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,164.0,31285,+,30-40,30-50k
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,80.0,1349,+,18-30,0-15k
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,180.0,314,+,50-85,0-15k
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,52.0,1442,+,40-50k,0-15k

In [124]:
df.A15_categories.value_counts()

0-15k     388
15-30k      3
30-50k      2
70k+        1
50-70k      1
Name: A15_categories, dtype: int64

In [126]:
#df.drop(columns='A15_categories', inplace=True)
#df.head()

In [128]:
contingency_table4 = pd.crosstab(
    df['A16'],
    df['A15_categories'],
    margins = True)

contingency_table4

A15_categories  0-15k  15-30k  30-50k  50-70k  70k+  All
A16
+                 187       3       2       1     1  194
-                 201       0       0       0     0  201
All               388       2       3       1     1  395

In [129]:
stats.ttest_1samp(A16pos['A15'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=4.6626699683205315, pvalue=4.6681677137736813e-06)

Here we are rejecting the null hypothesis that feature A16 (assuming the overall approval decision) is evenly split across feature A15. In other words, and according to the statistic, instances where feature A15 is greater than the mean value for all instances of feature A15, might have a greater likelihood of possitive correlation. Ex: people with a savings account balance or more savings than the average individual have a greature likelihood of credit card approval.

In [110]:
cut_points = [0,18,30,40,50,85,100]
label_names = ['0-18', '18-30', '30-40', '40-50k', '50-85', '85+']
df['A2_categories'] = pd.cut(df['A2'], cut_points, labels=label_names)

df.head(10)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A2_categories
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,202.0,0,+,30-40
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,43.0,560,+,50-85
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,280.0,824,+,18-30
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,100.0,3,+,18-30
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,120.0,0,+,18-30
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,360.0,0,+,30-40
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,164.0,31285,+,30-40
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,80.0,1349,+,18-30
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,180.0,314,+,50-85
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,52.0,1442,+,40-50k

In [112]:
df['A2_categories'].value_counts()

18-30     337
30-40     163
40-50k     83
50-85      59
0-18       36
85+         0
Name: A2_categories, dtype: int64

In [116]:
contingency_table3 = pd.crosstab(
    df['A16'],
    df['A2_categories'],
    margins = True)

contingency_table3

A2_categories  0-18  18-30  30-40  40-50k  50-85  All
A16
+                 8    142     69      50     36  305
-                28    195     94      33     23  373
All              59    163     36      83    337  678

In [118]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table3)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 359.9254903001788
P-value: 3.114572526593342e-71
Degrees of Freedom: 10
Expected:
 [[  21.3679941   112.46312684   44.76032448   37.33775811   89.07079646
   305.        ]
 [  26.1320059   137.53687316   54.73967552   45.66224189  108.92920354
   373.        ]
 [  47.5         250.           99.5          83.          198.          678.        ]]

We reject the null hypothesis that our features A16 and A2_categories are independent

In [121]:
stats.ttest_1samp(A16pos['A2'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=45.291742260162124, pvalue=3.4239437368564312e-137)

This test suggests that of the individuals that were considered '+' (my assumption is approved for the credit card), the null hypothesis that the feature A2 (possibly age) is evenly spread out cross the mean is rejected. According to the statistic, there exist a slight skewness to the right, or possibly that individuals with a greater A2 feature might also have a better chance of 'approval'.

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*

Several statistical tests were run to interpret the data provided including t-tests and chi-squared.

At first glance I interpreted the '+' and '-' data points provided by column/feature A16 to represent the credit approval decision of an example company's data set. Initially I split the data set into two subsets representing 'approved' ('+') or declined ('-') as the underwriting decision respectively. The statistical test I ran was a chi-squared test against column/feature A1 to determine some sort of dependency relationship (I also ran df.corr(), however one of the challenges of this dataset was the lack of feature-specific information). The results of my first test are as follows:

In [130]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 0.31128326491619945
P-value: 0.5768937883001117
Degrees of Freedom: 1
Expected:
 [[  94.15929204  209.84070796]
 [ 115.84070796  258.15929204]]

In [131]:
p_value = stats.chi2.sf(chi_squared, dof)
print(f"P-value: {p_value}")

P-value: 0.5768937883001117

Here we see that, according to my first test, there doesn't seem to be a dependent relationship between column/feature A1 and A16 (approved or declined, my assumption). My understanding of this binomial/categorical feature is that the column represents an independent feature such as: the possible "gender" of the individual which would attest to the lack of a gender-bias in the overall credit-card approval decision, for example. 

I then move on to look at various t-tests in each specific category of either '+' or '-' against feature A1 to determine whether or not there existed any further relationship. 

The results following the t-tests associated with column/feature A1 were indeterminant such that the null hypothesis rejected the proposition that, in any case (+ or -, approved or declined), there was no significant difference associated with column/feature A1 and the overall decision or categorization of either '+' or '-'.

In [132]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table2)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 45.03420714024056
P-value: 0.0004097261730223732
Degrees of Freedom: 18
Expected:
 [[  26.25110132    2.66960352   25.36123348   61.40088106    3.55947137
     1.77973568    0.88986784  177.52863436    3.55947137  303.        ]
 [  32.74889868    3.33039648   31.63876652   76.59911894    4.44052863
     2.22026432    1.11013216  221.47136564    4.44052863  378.        ]
 [  59.            6.           57.          138.            8.            4.
     2.          399.            8.          681.        ]]

I decide to run another contingency table, this time looking at a categorical column/feature A7. Here, given a p-value less than .5 or our "standard error", we can say to a 95% degree of confidence that there does exist a dependent relationship between these two features (A7 and A16) such that we reject our null hypothesis of independence between them.

Then, we take a look at some numeric features:

First running chi-squared tests:

In [134]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table3)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 359.9254903001788
P-value: 3.114572526593342e-71
Degrees of Freedom: 10
Expected:
 [[  21.3679941   112.46312684   44.76032448   37.33775811   89.07079646
   305.        ]
 [  26.1320059   137.53687316   54.73967552   45.66224189  108.92920354
   373.        ]
 [  47.5         250.           99.5          83.          198.          678.        ]]

Here I am solidifying the understanding that there is a dependent relationship between a feature called A15 categories that was created to bin out the numerical data provided in column/feature A15.

In [138]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency_table3)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

Chi-Squared: 359.9254903001788
P-value: 3.114572526593342e-71
Degrees of Freedom: 10
Expected:
 [[  21.3679941   112.46312684   44.76032448   37.33775811   89.07079646
   305.        ]
 [  26.1320059   137.53687316   54.73967552   45.66224189  108.92920354
   373.        ]
 [  47.5         250.           99.5          83.          198.          678.        ]]

We reject the null hypothesis that our features A16 and A2_categories are independent

Moving forward I run t-tests:

In [135]:
stats.ttest_1samp(A16pos['A15'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=4.6626699683205315, pvalue=4.6681677137736813e-06)

#### Possible conclusion:

Here we are rejecting the null hypothesis that feature A16 (assuming the overall approval decision) is evenly split across feature A15. In other words, and according to the statistic, instances where feature A15 is greater than the mean value for all instances of feature A15, might have a greater likelihood of possitive correlation. Ex: people with a savings account balance or more savings than the average individual have a greature likelihood of credit card approval.

In [136]:
stats.ttest_1samp(A16pos['A2'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=45.291742260162124, pvalue=3.4239437368564312e-137)

This test suggests that of the individuals that were considered '+' (my assumption is approved for the credit card), the null hypothesis that the feature A2 (possibly age) is evenly spread out cross the mean is rejected. According to the statistic, there exist a slight skewness to the right, or possibly that individuals with a greater A2 feature might also have a better chance of 'approval'.