<a href="https://colab.research.google.com/github/hBar2013/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/module2-sampling-confidence-intervals-and-hypothesis-testing/Kim_Lowry_LS_DS_142_Sampling_Confidence_Intervals_and_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 142
## Sampling, Confidence Intervals, and Hypothesis Testing

## Prepare - examine other available hypothesis tests

If you had to pick a single hypothesis test in your toolbox, t-test would probably be the best choice - but the good news is you don't have to pick just one! Here's some of the others to be aware of:

In [2]:
import numpy as np
from scipy.stats import chisquare  # One-way chi square test

# Chi square can take any crosstab/table and test the independence of rows/cols
# The null hypothesis is that the rows/cols are independent -> low chi square
# The alternative is that there is a dependence -> high chi square
# Be aware! Chi square does *not* tell you direction/causation

ind_obs = np.array([[1, 1], [2, 2]]).T
print(ind_obs)
print(chisquare(ind_obs, axis=None))

dep_obs = np.array([[16, 18, 16, 14, 12, 12], [32, 24, 16, 28, 20, 24]]).T
print(dep_obs)
print(chisquare(dep_obs, axis=None))

[[1 2]
 [1 2]]
Power_divergenceResult(statistic=0.6666666666666666, pvalue=0.8810148425137847)
[[16 32]
 [18 24]
 [16 16]
 [14 28]
 [12 20]
 [12 24]]
Power_divergenceResult(statistic=23.31034482758621, pvalue=0.015975692534127565)

In [3]:
# Distribution tests:
# We often assume that something is normal, but it can be important to *check*

# For example, later on with predictive modeling, a typical assumption is that
# residuals (prediction errors) are normal - checking is a good diagnostic

from scipy.stats import normaltest
# Poisson models arrival times and is related to the binomial (coinflip)
sample = np.random.poisson(5, 1000)
print(normaltest(sample))  # Pretty clearly not normal

NormaltestResult(statistic=30.923312549272243, pvalue=1.9279155171490791e-07)

In [4]:
# Kruskal-Wallis H-test - compare the median rank between 2+ groups
# Can be applied to ranking decisions/outcomes/recommendations
# The underlying math comes from chi-square distribution, and is best for n>5
from scipy.stats import kruskal

x1 = [1, 3, 5, 7, 9]
y1 = [2, 4, 6, 8, 10]
print(kruskal(x1, y1))  # x1 is a little better, but not "significantly" so

x2 = [1, 1, 1]
y2 = [2, 2, 2]
z = [2, 2]  # Hey, a third group, and of different size!
print(kruskal(x2, y2, z))  # x clearly dominates

KruskalResult(statistic=0.2727272727272734, pvalue=0.6015081344405895)
KruskalResult(statistic=7.0, pvalue=0.0301973834223185)

And there's many more! `scipy.stats` is fairly comprehensive, though there are even more available if you delve into the extended world of statistics packages. As tests get increasingly obscure and specialized, the importance of knowing them by heart becomes small - but being able to look them up and figure them out when they *are* relevant is still important.

## Live Lecture - let's explore some more of scipy.stats

Candidate topics to explore:

- `scipy.stats.chi2` - the Chi-squared distribution, which we can use to reproduce the Chi-squared test
- Calculate the Chi-Squared test statistic "by hand" (with code), and feed it into `chi2`
- Build a confidence interval with `stats.t.ppf`, the t-distribution percentile point function (the inverse of the CDF) - we can write a function to return a tuple of `(mean, lower bound, upper bound)` that you can then use for the assignment (visualizing confidence intervals)

In [0]:
# Taking requests! Come to lecture with a topic or problem and we'll try it.

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):

1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

In [0]:
import pandas as pd
from scipy import stats
import seaborn as sns
import numpy as np

In [0]:
def confidence_interval(dataframe, confidence=0.95):
   n = len(dataframe.columns)

In [0]:
congress_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
congress_df = pd.read_csv(congress_url)

In [9]:
congress_df.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [0]:
congress_df.rename(columns={congress_df.columns[0]: 'party',
                    congress_df.columns[1]: 'hc_infant',
                    congress_df.columns[2]: 'water_share',
                    congress_df.columns[3]: 'budget',
                    congress_df.columns[4]: 'doc_fee',
                    congress_df.columns[5]: 'el_salvadore',
                    congress_df.columns[6]: 'school_rel',
                    congress_df.columns[7]: 'antisat',
                    congress_df.columns[8]: 'contras',
                    congress_df.columns[9]: 'missles',
                    congress_df.columns[10]: 'immigration',
                    congress_df.columns[11]: 'synfuels',
                    congress_df.columns[12]: 'ed_spend',
                    congress_df.columns[13]: 'superfund_sue',
                    congress_df.columns[14]: 'crime',
                    congress_df.columns[15]: 'duty_free',
                    congress_df.columns[16]: 'sa_export'},
                    inplace=True)

In [0]:
congress_nans = congress_df.replace('?', np.nan)

In [0]:
congress_num = congress_nans.replace({'y' : 1, 'n' : 0})

In [13]:

congress_num.head()

,party,hc_infant,water_share,budget,doc_fee,el_salvadore,school_rel,antisat,contras,missles,immigration,synfuels,ed_spend,superfund_sue,crime,duty_free,sa_export
0,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,NaN
1,democrat,NaN,1.0,1.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,democrat,0.0,1.0,1.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,democrat,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,1.0
4,democrat,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0

In [14]:
dem_num = congress_num[congress_num['party'] == 'democrat']
dem_num = dem_num.drop('party', axis=1)
dem_num = dem_num.T
dem_num.describe()

,1,2,3,4,5,8,11,12,15,16,...,418,420,421,422,423,424,425,427,428,430
count,14.000000,15.000000,15.000000,16.000000,15.000000,14.000000,14.000000,13.000000,14.000000,15.000000,...,16.000000,16.000,16.000000,16.000,14.000000,15.000000,16.000000,13.000000,14.000000,16.000
mean,0.500000,0.400000,0.666667,0.500000,0.466667,0.428571,0.428571,0.692308,0.571429,0.533333,...,0.437500,0.625,0.500000,0.625,0.714286,0.400000,0.500000,0.538462,0.642857,0.375
std,0.518875,0.507093,0.487950,0.516398,0.516398,0.513553,0.513553,0.480384,0.513553,0.516398,...,0.512348,0.500,0.516398,0.500,0.468807,0.507093,0.516398,0.518875,0.497245,0.500
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000
50%,0.500000,0.000000,1.000000,0.500000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,1.000,0.500000,1.000,1.000000,0.000000,0.500000,1.000000,1.000000,0.000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000,1.000000,1.000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000,1.000000,1.000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000

In [15]:
dem_num.shape

(16, 267)

In [0]:
dem_num['dem_dof'] = dem_num.count(axis=1) -1

In [29]:
dem_num.head(16)

,1,2,3,4,5,8,11,12,15,16,...,420,421,422,423,424,425,427,428,430,dem_dof
hc_infant,NaN,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,0.0,257
water_share,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,NaN,...,1.0,0.0,1.0,1.0,0.0,0.0,NaN,0.0,0.0,238
budget,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,259
doc_fee,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,258
el_salvadore,1.0,NaN,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,254
school_rel,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,257
antisat,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,258
contras,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,262
missles,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,247
immigration,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,262
synfuels,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,254
ed_spend,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,248
superfund_sue,1.0,1.0,1.0,1.0,NaN,0.0,1.0,0.0,NaN,1.0,...,1.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,251
crime,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,0.0,256
duty_free,0.0,0.0,1.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,250
sa_export,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,184

In [18]:
gop_num = congress_num[congress_num['party'] == 'republican']
gop_num = gop_num.drop('party', axis=1)
gop_num = gop_num.T
gop_num.describe()

,0,6,7,9,10,13,14,17,27,29,...,409,411,412,415,419,426,429,431,432,433
count,15.000000,15.000000,16.000000,14.000000,13.000000,13.000000,14.000000,15.000000,16.000,16.000000,...,16.000000,16.000000,13.000000,16.000000,16.000000,16.000,16.000,15.000000,12.000000,15.000000
mean,0.466667,0.466667,0.500000,0.357143,0.538462,0.384615,0.500000,0.400000,0.625,0.437500,...,0.500000,0.500000,0.846154,0.562500,0.750000,0.625,0.625,0.533333,0.583333,0.533333
std,0.516398,0.516398,0.516398,0.497245,0.518875,0.506370,0.518875,0.507093,0.500,0.512348,...,0.516398,0.516398,0.375534,0.512348,0.447214,0.500,0.500,0.516398,0.514929,0.516398
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.750000,0.000,0.000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.500000,0.000000,1.000000,0.000000,0.500000,0.000000,1.000,0.000000,...,0.500000,0.500000,1.000000,1.000000,1.000000,1.000,1.000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000,1.000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000,1.000,1.000000,1.000000,1.000000

In [0]:
gop_num['gop_dof'] = gop_num.count(axis=1) -1

In [26]:
gop_num.shape

(16, 168)

In [0]:
congress_sum = congress_num.groupby('party').sum()

In [23]:
congress_sum.head()

,hc_infant,water_share,budget,doc_fee,el_salvadore,school_rel,antisat,contras,missles,immigration,synfuels,ed_spend,superfund_sue,crime,duty_free,sa_export
party,,,,,,,,,,,,,,,,
democrat,156.0,120.0,231.0,14.0,55.0,123.0,200.0,218.0,188.0,124.0,129.0,36.0,73.0,90.0,160.0,173.0
republican,31.0,74.0,22.0,162.0,156.0,148.0,39.0,24.0,19.0,91.0,21.0,134.0,135.0,157.0,14.0,95.0

In [0]:
congress_sum = congress_sum.T

In [32]:
congress_sum.head(16)

party          democrat  republican
hc_infant         156.0        31.0
water_share       120.0        74.0
budget            231.0        22.0
doc_fee            14.0       162.0
el_salvadore       55.0       156.0
school_rel        123.0       148.0
antisat           200.0        39.0
contras           218.0        24.0
missles           188.0        19.0
immigration       124.0        91.0
synfuels          129.0        21.0
ed_spend           36.0       134.0
superfund_sue      73.0       135.0
crime              90.0       157.0
duty_free         160.0        14.0
sa_export         173.0        95.0

In [0]:
dem_final =

In [0]:
#congress_sum['dem_dof'] =

In [0]:
#col_sum = congress_sum.sum(axis=0)
#congress_sum.loc['Issue_Totals'] = col_sum

In [0]:
#congress_sum.T

In [0]:
#def congress_stats(dataframe, confidence=0.95):
  dof = dataframe

In [0]:
#gop_only = congress_sum.loc['republican']

In [0]:
#issue_tot = congress_sum.loc['Issue_Totals']

In [0]:
#dem_mean = dem_only.div(issue_tot)

In [0]:
#dem_mean.to_frame()
#dem_mean.shape

In [0]:
#em_mean.head()

In [0]:
#gop_mean = gop_only.div(issue_tot)

In [0]:
#gop_mean.head()

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)